<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056125387917-96fd0vr5afd1ar4avrd9jc6qul5jf2n2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056125387917-96fd0vr5afd1ar4avrd9jc6qul5jf2n2</string>
	<key>API_KEY</key>
	<string>AIzaSyCCXUqikk6yDDE1-TgrqVAErhLNh6bxbQU</string>
	<key>GCM_SENDER_ID</key>
	<string>1056125387917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flexteach</string>
	<key>PROJECT_ID</key>
	<string>flexteach-105de</string>
	<key>STORAGE_BUCKET</key>
	<string>flexteach-105de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056125387917:ios:6c9c529a6388a08fb34ec4</string>
</dict>
</plist>